

<!-- Breadcrumb Starts Here -->
<div class="py-0">
    <div class="container">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#" class="fs-6 text-secondary">Home</a>
                </li>
                <li class="breadcrumb-item active">
                    <a href="#" class="fs-6 text-secondary">About</a>
                </li>
            </ol>
        </nav>
    </div>
</div>
<!-- Breadcrumb Ends Here -->
<section>
    <div class="container-xxl py-3">
        <div class="container">
            <div class="row g-4">
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s"
                    style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                    <div class="service-item text-center pt-3">
                        <div class="p-4">
                            <i class="fa fa-3x fa-graduation-cap  mb-3"></i>
                            <h5 class="mb-3">Skilled Instructors</h5>
                            <p>At Tech tutorus, you are not just learning from instructors; you are joining a vibrant community of learners and educators dedicated to excellence. Engage with your instructors, connect with peers, and participate in a collaborative learning environment that fosters growth and innovation.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s"
                    style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                    <div class="service-item text-center pt-3">
                        <div class="p-4">
                            <i class="fa fa-3x fa-globe  mb-3"></i>
                            <h5 class="mb-3">Online Classes</h5>
                            <p>We believe in the power of education to transform lives. Our online classes are designed to provide you with the knowledge, skills, and confidence to achieve your personal and professional goals. Learn from anywhere, at any time, and at your own pace with our comprehensive and flexible online learning solutions.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s"
                    style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                    <div class="service-item text-center pt-3">
                        <div class="p-4">
                            <i class="fa-solid fa-3x fa-headset mb-3"></i>
                            <h5 class="mb-3">24/7 Tech Support</h5>
                            <p>  We understand that a smooth and uninterrupted learning experience is crucial for your success. That’s why we offer 24/7 Tech Support, ensuring that you have access to expert assistance whenever you need it. Whether you're studying late at night or early in the morning, our dedicated support team is here to help you every step of the way.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s"
                    style="visibility: visible; animation-delay: 0.7s; animation-name: fadeInUp;">
                    <div class="service-item text-center pt-3">
                        <div class="p-4">
                            <i class="fa-solid fa-3x fa-briefcase mb-3"></i>
                            <h5 class="mb-3">100% Job Assistance</h5>
                            <p>We are committed to not only providing you with high-quality education but also ensuring that you successfully transition from learning to earning. Our 100% Job Assistance program is designed to support you every step of the way, from the moment you enroll to when you secure your dream job.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="about-intro section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 position-relative mt-4 mt-lg-0" style="z-index: 0;">
                <div class="about-intro__img-wrapper">
                    <!-- <img src="https://wdpf54.tech/elearning/public/frontend/dist/images/about/intro.jpg" alt="Intro Image" class="img-fluid rounded-2 ms-lg-5 position-relative intro-image"> -->
                    <img src="assets/images/Why_Choose_Us.png" alt="why chosseus " class="img-fluid rounded-2  position-relative intro-image">
                </div>
                <!-- <div class="intro-shape">
                    <img src="https://wdpf54.tech/elearning/public/frontend/dist/images/shape/rec04.png" alt="Shape" class="img-fluid shape-01">
                    <img src="assets/images/dots-img-16.png" alt="Shape" class="img-fluid shape-02">
                </div> -->
            </div>
            <div class="col-lg-6">
                <div class="about-intro__textContent">
                    <h2 class="font-title--md mb-3">Why Choose Tech Tutorus</h2>
                    <ul class="tech-listItems">
                        <li>
                            <b>Expert Instructors :</b> Learn from industry leaders and academic experts who bring real-world experience and insights to every course.
                        </li>
                        <li>
                            <b>Flexible Learning :</b> Our courses are designed to fit into your busy schedule, allowing you to study at your own pace, anytime, anywhere.
                        </li>
                        <li>
                           <b> Comprehensive Course Library :</b> With a diverse range of subjects and skill levels, we offer courses in technology, business, arts, health, and more. Whether you're looking to advance in your career or explore a new hobby, we have something for everyone.
                        </li>
                        <li>
                            <b>Interactive and Engaging Content :</b> Enjoy a rich learning experience with video lectures, interactive quizzes, hands-on projects, and peer discussions.
                        </li>
                        <li>
                           <b> Affordable Education :</b> We are committed to making education affordable and accessible, offering competitive pricing, financial aid, and scholarship options.
                        </li>
                    </ul>
                    <!-- <p class="mt-2 mt-lg-1 mb-2 mb-lg-4 text-secondary">
                       
                    </p> -->
                    <!-- <p class="text-secondary">
                        congue quis non odio. Aliquam sem ligula, commodo quis ipsum mattis, lacinia cursus magna.
                    </p> -->
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section aboutFeature pb-0" style="margin-bottom: 1rem;">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-2">
                <div class="about-feature dark-feature">
                  <h5 class="text-white font-title--sm">Who We Are</h5>
                  <p class="text-lowblack">
                    <span>
                      Welcome to Tech Tutorus, your trusted partner in online technology training.
                    </span>
                    At Tech Tutorus, we believe that technology should be accessible and understandable to everyone. That's why we've made it our mission to provide high-quality, easy-to-follow training courses for people of all skill levels.
                  </p>
                </div>
              </div>
              
            <div class="col-lg-6 mt-lg-0">
                <div class="about-feature">
                    <h5 class="font-title--sm">Our Story</h5>
                    <p class="text-secondary">
                        Our team of experienced instructors and industry experts came together with a shared vision of making technology education accessible to all. We saw a gap in the market for a platform that could provide personalized, instructor-led training online, and we set out to fill it. Today, we are proud to offer a range of courses and programs that cater to diverse needs and skill levels.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="features-area pt-80 pb-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-features text-center mb-30">
                    <div class="icon-box">
                        <i class="fa fa-paper-plane"></i>
                    </div>
                    <h5>Progressive Programs</h5>
                    <p> At Tech tutorus, we are dedicated to providing forward-thinking and dynamic learning opportunities through our Progressive Programs. These programs are meticulously designed to adapt to the evolving demands of today's world, ensuring you gain the skills and knowledge needed to thrive in the 21st century.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-features text-center mb-30">
                    <div class="icon-box">
                        <i class="fa fa-check-square"></i>
                    </div>
                    <h5>online education</h5>
                    <p>At Tech tutorus, we believe in the power of education to transform lives. Our mission is to provide accessible, high-quality online learning experiences for individuals around the globe, empowering you to achieve your personal and professional goals from the comfort of your home.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-features text-center mb-30">
                    <div class="icon-box">
                        <i class="fa fa-plane"></i>
                    </div>
                    <h5>International students</h5>
                    <p> At Tech tutorus we celebrate diversity and the unique perspectives that students from around the world bring to our learning community. Our mission is to provide a welcoming, inclusive, and enriching educational experience for international students, helping you achieve your academic and career aspirations no matter where you are.</p>
                </div>
            </div>
        </div>
    </div>
</div>
