
<footer class="footer  footer--two ">
  <div class="container">
      <div class="row">
          <div class="col-lg-6 col-sm-12">
              <div class="footer__wrapper">
                <h2 class="text-white" routerLink="home" style="cursor: pointer;">TECH TUTORUS</h2>
                  <div class="footer__wrapper_logo">
                      <!-- <img src="assets/images/Tech_Tutorus_Logo1.png" alt="logo" class="img-fluid"> -->
                  </div>
                  <p>
                    <span class="mx-2"><i class="fa-solid fa-location-dot"></i></span>
                    104 arbor oaks, Arlington, Texas, USA, 76013, Arlington, TX, United States, Texas
                  </p>
                  <div class="contact-info">
                    <span class="icon" style="color: #fff;"><i class="fa-solid fa-phone"></i></span>
                    <div class="numbers">
                        <p> <a href="tel:+1-7733145199"  class="phone-link">+1-773 314 5199</a></p>
                        <p> <a href="tel:+1-8174057214"  class="phone-link">+1-817 405 7214</a></p>
                    </div>
                </div>
                  <div class="footer__wrapper_social d-none d-lg-block">
                      <ul>
                          <li>
                              <a href="https://www.instagram.com/techtutorus?igsh=MW51OHk5czgycDd6NQ==" target="_blank">
                                <i class="fa-brands fa-instagram fill-white" ></i>
                              </a>
                          </li>
                          <li>
                            <a href="https://www.facebook.com/TechTutorus" target="_blank">  
                              <i class="fa-brands fa-facebook-f fill-white"></i> 
                           </a>
                        </li>
                          <li>
                              <a href="https://x.com/techtutorus" target="_blank">
                                <i class="fa-brands fa-twitter fill-white"></i>
                              </a>
                          </li>
                          <li>
                              <a href="https://www.youtube.com/channel/UC13_5nImCVtSBzWfTI944Ww" target="_blank">
                                <i class="fa-brands fa-youtube fill-white"></i>
                              </a>
                          </li>

                          <li>
                            <a href="https://www.linkedin.com/company/techtutorus" target="_blank">
                                <i class="fa-brands fa-linkedin-in fill-white"></i>
                            </a>
                        </li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="col-lg-2 col-sm-4 col-6">
              <div class="footer__list">
                  <h6>Company</h6>
                  <ul style="padding: 0;">
                      <li><a routerLink="aboutus">About Us</a></li>
                      <li><a routerLink="courses">Courses</a></li>
                      <!-- <li><a href="#">career</a></li> -->
                      <li><a href="javascript:void(0)">Affiliate</a></li>
                  </ul>
              </div>
          </div>
          <div class="col-lg-2 col-sm-4 col-6">
              <div class="footer__list">
                  <h6>Support</h6>
                  <ul  style="padding: 0;">
                      <li><a href="javascript:void(0)">Help &amp; Supports </a></li>
                      <li><a href="javascript:void(0)">Privacy Policy</a></li>
                      <li><a href="javascript:void(0)">FAQs</a></li>
                      <li><a href="javascript:void(0)">Contact Us</a></li>
                  </ul>
              </div>
          </div>
          <div class="col-lg-2 col-sm-4 col-6">
              <div class="footer__list">
                  <h6>Quick Links</h6>
                  <ul  style="padding: 0;">
                      <li><a href="javascript:void(0)">Events</a></li>
                      <li><a href="javascript:void(0)">Become a Instructor</a></li>
                      <li><a href="javascript:void(0)">Partnerships</a></li>
                      <li><a href="javascript:void(0)">Get the app</a></li>
                  </ul>
              </div>
          </div>
          <div class="col-12 d-block d-lg-none">
              <div class="footer__wrapper_social d-flex my-4">
                <ul>
                    <li>
                        <a href="https://www.instagram.com/techtutorus?igsh=MW51OHk5czgycDd6NQ==" target="_blank">
                          <i class="fa-brands fa-instagram fill-white" ></i>
                        </a>
                    </li>
                    <li>
                      <a href="https://www.facebook.com/TechTutorus" target="_blank">  
                        <i class="fa-brands fa-facebook-f fill-white"></i> 
                     </a>
                  </li>
                    <li>
                        <a href="https://x.com/techtutorus" target="_blank">
                          <i class="fa-brands fa-twitter fill-white"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/channel/UC13_5nImCVtSBzWfTI944Ww" target="_blank">
                          <i class="fa-brands fa-youtube fill-white"></i>
                        </a>
                    </li>

                    <li>
                      <a href="javascript:void(0)">
                          <i class="fa-brands fa-linkedin-in fill-white"></i>
                      </a>
                  </li>
                </ul>
              </div>
          </div>
      </div>
  </div>
  <div class="footer__bottom">
      <div class="container">
          <div class="footer__bottom-content">
              <div class="footer__bottom_copyright">
                  <p>© 2024 - Tech Tutorus. All rights reserved</p>
              </div>
              <div class="footer__bottom_topbutton">
                  <a href="#">
                      Go To Top
                      <div class="icon ms-2">
                          <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M9 5L5 1L1 5" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                          </svg>
                      </div>
                  </a>
              </div>
          </div>
      </div>
  </div>
</footer>